
<div class = "container col-md-offset-3 col-md-6 col-md-offset-3">
<h1>Profile</h1><br>

<% if current_user.avatar != nil%>
<%= image_tag(current_user.avatar.url, :class =>'img-circle') %>
<% end %>
<br><br>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% if current_user.id = @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
<br><br>

<h2>Bids</h2>
<br>
<table>
  <tr>
    <th>Listing Name</th>
    <th>Bidding Price</th>
    <th>Winning Bid?</th>
  </tr>
<% @bids.each do |bid| %>
<tr>
  <td><%= link_to bid.listing.name, bid.listing %></td>
  <td><%= bid.bidding_price %></td>
  <td><%= bid.chosen_bid %></td>
</tr>
<% end %>
</table>

<br>

<h2>Listings Won</h2>
<br>
<table>
  <tr>
    <th>Listing Name</th>
    <th>Bidding Price</th>
    <th>Paid?</th>
    <th></th>
  </tr>
<% @listings.each do |listing| %>
<tr>
  <td><%= link_to listing.name, listing %></td>
  <td><%= listing.bids.order("bidding_price DESC").first.bidding_price %></td>
  <td><%= listing.paid %></td>
    <% if listing.paid == false %>
  <td><%= link_to "Make Payment", new_listing_braintree_path(listing) %></td>
    <% else %>
  <td></td>
    <% end %>
</tr>
<% end %>
</table>

</div>
