<div class="jumbotron">
  <h1>Auction House</h1><br>
  <div class="container-fluid">
    <%= form_tag search_path, method:"get", :class=>"form-inline" do |f| %>
      <div class ="form-group">
        <div class='input-group date', id="searchTextField2">
          <%= text_field_tag :term, params[:term], id:"autocomplete2", placeholder:"Enter a place", class:"form-control"%>
            <button class="input-group-addon", type="submit", id="search">
            <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
      </div>
    <% end %>

    <script type="text/javascript">

        function initialize() {
          var input = document.getElementById('autocomplete2');
          var autocomplete = new google.maps.places.Autocomplete(input);
        };

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </div>
</div>

  <br><br>
    <h2>Featured Listings</h2><br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <% @listings.each do |listing| %>
        <div class="responsive">
          <div class="gallery">
            <%= link_to image_tag(listing.images.first.image.thumb.url), listing if listing.images.present? %>
            <div class="desc"><%= listing.name %> RM<%= listing.price %></div>
          </div>
        </div>
       <% end %>
      </div>
    </div>
    <%= will_paginate @listings %>
